
.ipynb_checkpoints/plotter-checkpoint.ipynb

.ipynb_checkpoints/genome_contig_scaffold_plotter-checkpoint.ipynb

*.eps

GenomeStats/contigs/ABYSS_contigs_out

GenomeStats/contigs/MaSuRCA_contigs_out

GenomeStats/contigs/ALLP_contig_out

GenomeStats/contigs/Plat_contig_out

GenomeStats/scafs/ABYSS_scafs_out

GenomeStats/scafs/ALLP_scafs_out

GenomeStats/contigs/SOAP_contigs_out

GenomeStats/scafs/MaSuRCA_scafs_out

GenomeStats/scafs/Plat_scafs_out

GenomeStats/scafs/SOAP_scafs_out
